In [1]:
##Reading csv file
import pandas as pd

credit_default = pd.read_csv('Default.csv')
credit_default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [2]:
import numpy as np

## Changing labels to 0-1
credit_default['default_numb'] = np.where(credit_default['default'] == 'Yes', 1, 0)
credit_default.head()

  default student      balance        income  default_numb
0      No      No   729.526495  44361.625074             0
1      No     Yes   817.180407  12106.134700             0
2      No      No  1073.549164  31767.138947             0
3      No      No   529.250605  35704.493935             0
4      No      No   785.655883  38463.495879             0

In [3]:
from sklearn.ensemble import RandomForestClassifier

##Defining imput and target variables
X = credit_default[['balance', 'income']] 
Y = credit_default['default_numb']

##Building the random forest classifier
RF_md = RandomForestClassifier().fit(X, Y)

## Defining the new observations
newdata = pd.DataFrame({'balance': [2000], 'income': [70000]})

## Predicting the liklelihood of churning
RF_md.predict_proba(newdata)

array([[0.19, 0.81]])

In [ ]:
## The observation has a likelihood of 81% to default with a balance of 2000 and income of 70000

In [4]:
## Changing labels for students to 0-1
credit_default['student_numb'] = np.where(credit_default['student'] == 'Yes', 1, 0)
credit_default.head()

  default student      balance        income  default_numb  student_numb
0      No      No   729.526495  44361.625074             0             0
1      No     Yes   817.180407  12106.134700             0             1
2      No      No  1073.549164  31767.138947             0             0
3      No      No   529.250605  35704.493935             0             0
4      No      No   785.655883  38463.495879             0             0

In [6]:

##Defining imput and target variables
X = credit_default[['balance', 'income', 'student_numb']] 
Y = credit_default['student_numb']

##Building the random forest classifier
RF_md = RandomForestClassifier().fit(X, Y)

## Defining the new observations
newdata_student = pd.DataFrame({'balance': [2500], 'income': [20000], 'student_numb': [1]})

## Predicting the liklelihood of churning0

array([[0., 1.]])

In [ ]:
##Based on the prediction, there is a 100% likelihood of the observation defaulting at a balance of 2500 and income of 20