In [ ]:
##Question 1) B, false
##Quesetion 2) B, RF with 300

In [2]:
import pandas as pd
##read csv
autos = pd.read_csv('autos.csv')
autos.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
##defining the input and target variables
x = autos[['cylinders', 'displacement','horsepower','weight','acceleration','year']]
y = autos['mpg']

from sklearn.model_selection import train_test_split

##splitting the data
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size = .2)

In [4]:
from sklearn.ensemble import RandomForestRegressor
import numpy as np
## defining # of trees
ntree = [100,300,500,800,1000]
##extracting tree
n = len(ntree)
##definging the dataframe to store results
results = pd.DataFrame({'Numoftrees': np.repeat(np.nan, n ), 'RMSE': np.repeat(np.nan, n), 'MAE': np.repeat(np.nan,n)})

for i in range(0,n):
    ##building rf model
    rf = RandomForestRegressor(n_estimators = ntree[i]).fit(xtrain,ytrain)
    ##predict on rest
    rfpred = rf.predict(xtest)
    ##store results
    results['Numoftrees'][i] = ntree[i]
    results['RMSE'][i] = np.sqrt(np.mean((rfpred - ytest)**2))
    results['MAE'][i] = np.mean(abs(rfpred - ytest))
    
results

   Numoftrees      RMSE       MAE
0       100.0  3.021146  2.163316
1       300.0  2.994569  2.122565
2       500.0  2.952129  2.087987
3       800.0  2.988840  2.119650
4      1000.0  2.987758  2.112338