In [22]:
##import pandas
import pandas as pd
customers = pd.read_csv("customers.csv")
customers.head()

   ID  Visit_Time  Average_Expense  Sex  Age
0   1           3              5.7    0   10
1   2           5             14.5    0   27
2   3          16             33.5    0   32
3   4           5             15.9    0   30
4   5          16             24.9    0   23

In [23]:
##drop the ID 
customers.drop('ID', axis=1, inplace=True )
customers.head()

   Visit_Time  Average_Expense  Sex  Age
0           3              5.7    0   10
1           5             14.5    0   27
2          16             33.5    0   32
3           5             15.9    0   30
4          16             24.9    0   23

In [ ]:
##standardize the data